// schema
/* display type */

/* sizing */

/* positioning */

/* box model */

/* colors */

/* fonts/decorations */

.header {
  background: #202020;
  border-bottom: 1px solid #29aae1;
}

.logo {
  width: 100px;
}

.button {
  background: #202020;
  font-weight: 600;
  padding: 6px;
  color: white;
  border: none;
  border-radius: 3px;
  margin: 4px;
  cursor: pointer;
}

.nav {
  background: #202020;
}

.nav-link {
  display: inline-block;
  font-weight: 600;
  padding: 6px;
  color: white;
  border-radius: 3px;
  margin: 4px;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
}

.signup {
  background: #303030;
  color: white;
  text-align: center;

  &-form {
    padding: 30px;
    background: grey;
    width: 50%;
    margin: 0 auto;
  }
}

.home {
  background: #202020;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.post-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

  &-image {
    border: 1px solid white;
    border-radius: 3px;
  }
}

.footer {
  background: #202020;
  color: white;
}

.caption {
  font-size: 12px;
}

.inline {
  display: inline;
}
